
.hero{
  @include flex(center, center, column);
  @include size(500px, 100%);
  background: linear-gradient(to bottom, #22272E 0%,#42053e 98%);
  h1{
    font:$h1;
    color:white;
  }
}

.boxxy{
  @include size(50px, 650px);
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  margin-top:30px;
  @include flex(flex-start, center, column);
  color: rgba(255,255,255,0.4);
  padding:0 20px;
  font-size: 16px;

}


.home-articles{
  pointer-events: none;
}
