

// .card{
//   position: relative;
// }
//
// .card-header{
//   @include size(40px,100%);
//   @include flex(center, space-between, row);
//   padding: 8px 20px;
//   position: absolute;
//   top:0;
//   border-bottom: 1px solid $border-color-3;
//   h5{
//     font:$h3;
//   }
// }
//
// .dropdown{
//   position: relative;
//   margin-right: 12px;
//   &::before {
//     content: '';
//     @include size(8px, 4px);
//     position: absolute;
//     background: url('../img/double-arrow.svg');
//     display: block;
//     top:0;
//     right:-12px;
//   }
// }
//
// .card-body{
//   padding: 20px;
//   margin-top: 40px;
// }
//
// .coin-body{
//   @include flex(center, space-between, row);
// }

.widget-img{
  margin: 10px;
  border-radius: 4px;
  @include transition(shadow);
  
  &:hover{
    @include shadow();
  }
}

.graph{
  &:hover{
    cursor: pointer;
  }
}
