//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';



html {
	@include font;
	background-color: $light-grey-3;
	overflow-x: hidden;
	height: 100%;
}

body {
	@include size(100%, 100%);
}

.main-container {
	@include flex(center, center, row);
}

.banner {
	@include size(40px, 100%);
	@include flex(center,'','');
	padding: 8px 20px;
	line-height: 10px;
	color: $dark-green-3;
	font-weight: 400;
	z-index: 1;
	background-color: $light-green-3;
}

aside {
	@include size(102%, 240px);
	display: block;
	background-color: white;
	float: left;
}

header{
	background-color: $background-color-1;
	@include size(60px, 100%);
	display: flex;
	align-items: center;
	padding: 0 20px;
}
