html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.banner {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: "";
  flex-direction: "";
  padding: 8px 20px;
  line-height: 10px;
  color: #31bb67;
  font-weight: 400;
  z-index: 1;
  background-color: #ebfaf0;
}

aside {
  height: 102%;
  width: 240px;
  box-sizing: border-box;
  display: block;
  background-color: white;
  float: left;
}

header {
  background-color: #22272E;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
