//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';



html {
	@include font;
	background-color: $light-grey-3;
	overflow-x: hidden;
	height: 100%;
}

body {
	@include size(100%, 100%);
}

.main-container {
	@include flex(flex-start, space-between, row);
}

.banner {
	@include size(40px, 100%);
	@include flex(center,'','');
	padding: 8px 20px;
	line-height: 10px;
	color: $dark-green-3;
	font-weight: 400;
	z-index: 1;
	background-color: $light-green-3;
}

aside {
	@include size(1200px, 240px);
	display: block;
	background-color: white;
}

header{
	background-color: $background-color-1;
	@include size(60px, 100%);
	display: flex;
	align-items: center;
	padding: 0 20px;
}

article{
	width: 100%;
}

a{
	@include link;
}
.container{
	padding: 20px;
}

.table-wrapper{
	background-color:white;
	width: 100%;
	border-radius: 4px;
	padding: 0 5px;
	box-sizing: border-box;
}

table{
	width: calc(100% + 10px);
	margin: 0 -5px;
}

th, td{
	height: 40px;
	vertical-align: middle;
 text-align: left;
 padding: 0 15px;
}

td > p, th > p{
	text-align: right;
}

th:not(:last-child){
	border-right: 1px solid $border-color-3;
}

th, tr:not(:last-child){
	border-bottom: 1px solid $border-color-3;
}
