html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.banner {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: "";
  flex-direction: "";
  padding: 8px 20px;
  line-height: 10px;
  color: #31bb67;
  font-weight: 400;
  z-index: 1;
  background-color: #ebfaf0;
}

aside {
  height: 1200px;
  width: 240px;
  box-sizing: border-box;
  display: block;
  background-color: white;
}

header {
  background-color: #22272E;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

article {
  width: 100%;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container {
  padding: 20px;
}

.table-wrapper {
  background-color: white;
  width: 100%;
  border-radius: 4px;
  padding: 0 5px;
  box-sizing: border-box;
}

table {
  width: calc(100% + 10px);
  margin: 0 -5px;
}

th, td {
  height: 40px;
  vertical-align: middle;
  text-align: left;
  padding: 0 15px;
}

td > p, th > p {
  text-align: right;
}

th:not(:last-child) {
  border-right: 1px solid #F2F4F6;
}

th, tr:not(:last-child) {
  border-bottom: 1px solid #F2F4F6;
}
